{{ define "main" }}

<div class="page">
  <h1>About {{ .Site.Params.firmName }}</h1>

  <div class="about-wrapper">
    <div class="about-grid">

      <div class="about-photo">
        <img src="/images/headshot.jpg" alt="Attorney headshot">
        <p class="about-name">{{ .Site.Params.attorneyName }}</p>
        <p class="about-title">
          {{ range $index, $title := .Site.Params.attorneyTitles }}{{ if $index }}<br>{{ end }}{{ $title }}{{ end }}
        </p>
      </div>

      <div class="about-content">
        {{ .Content }}
      </div>

    </div>
  </div>
</div>

{{ end }}
