{{ define "main" }}

<div class="page">
  <h1>{{ .Title }}</h1>

  <div class="about-wrapper">
    <div class="about-grid">

      <div class="about-photo">
        <img src="/images/headshot.jpg" alt="Attorney headshot">
        <p class="about-name">Jason Gunnell</p>
        <p class="about-title">
          Senior Deputy District Attorney<br>
          Staff Judge Advocate, USAF Reserve
        </p>
      </div>

      <div class="about-content">
        {{ .Content }}
      </div>

    </div>
  </div>
</div>

{{ end }}
