{{ define "main" }}
<div class="page">
  <h1>Contact {{ .Site.Params.firmName }}</h1>

  {{ .Content }}

  <div class="contact-info">
    <p><strong>Phone</strong><br>
    {{ .Site.Params.phone }}</p>

    <p><strong>Email</strong><br>
    <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>

      <p>
    <strong>Location</strong><br>
    {{ .Site.Params.address.street }}<br>
    {{ .Site.Params.address.city }}, {{ .Site.Params.address.state }} {{ .Site.Params.address.zip }}
  </p>

  </div>

  <p class="contact-disclaimer">
    <em>{{ .Site.Params.contactDisclaimer }}</em>
  </p>
</div>
{{ end }}

